<div class="row">
    <div class="col-sm-6 col-md-8 col-lg-9">
        <h3 id="aboutTitle">Over deze applicatie</h3>
        <p>
            Deze applicatie is gemaakt in het kader van het vak 'Clientside web
            frameworks' van Avans Hogeschool Breda.
        </p>
        <h1>iWine</h1>
        <p>
            Deze applicatie biedt de gebruiker de optie om een wijnkelder bij te houden en te starten.
            In deze wijnkelder kunnen wijnflessen worden toegevoegd en worden bekeken.
            Een gebruiker kan ook meerdere wijnkelders aanmaken en beheren. Je kan dus een eigen wijncollectie bijhouden.

        </p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kalle van de Visser</h5>
                <p class="card-text">Studentnummer: 2177927</p>
            </div>
        </div>
    </div>
</div>

<h3>Entiteiten</h3>
<p>
    Hier geef je een toelichting op je entiteiten. Voeg ook een afbeelding van
    je model toe zoals dat bij NoSql gevraagd wordt.
</p>

<img src="assets/erdCSWF.drawio.png" class="px-5 py-5" alt="ERD" />

<div class="grid">
    <div class="col-sm-12 col-md-4">
        <p>Gebruiker</p>
        <ul>
            <li>id: number</li>
            <li>gebruikersname: string</li>
            <li>wachtwoord: string</li>
            <li>email: string</li>
            <li>totaalwaarde: number</li>
            <li>cellarList:Cellar[]</li>
            <li>vriendenlijst:User[]</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>Kelder</p>
        <ul>
            <li>id: number</li>
            <li>adres: string</li>
            <li>eigenaar: string | User</li>
            <li>oppervlakte: number</li>
            <li>wijnflessenLijst: Winebottle[]</li>
            <li>totaalwaarde:number</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>Wijnfles</p>
        <ul>
            <li>id: number</li>
            <li>wijnsoort: WineType</li>
            <li>naam: string</li>
            <li>jaar: number</li>
            <li>land:string</li>
            <li>prijs:number</li>
            <li>zelfGemaakt:boolean</li>
            <li>wijngaard:Winery</li>
            <li>kelderLijst:Cellar[]</li>
            <li>img:string</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>Wijngaard</p>
        <ul>
            <li>id: number</li>
            <li>naam: string</li>
            <li>adres: string</li>
            <li>land: string</li>
            <li>opgericht:Date</li>
            <li>oprichter:string|User</li>
            <li>wijnflessenLijst: Winebottle[]</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>Userstories</h3>
        <p>
            Hier verwoord je in de vorm van userstories de functionaliteit van
            jouw applicatie.
        </p>

        <table class="table table-bordered">
            <thead>
                <th>Nr</th>
                <th class="col-6">Userstory</th>
                <th>Evt toelichting</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        Als gebruiker wil ik een overzicht van wijnflessen kunnen bekijken.
                    </td>
                    <td>Ik wil in een scherm de inhoud van mijn wijnkelder kunnen bekijken.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        Als ingelogde gebruiker wil ik wijnflessen verwijderen uit mijn kelder.
                    </td>
                    <td>Er moet een mogelijkheid zijn om een fles te kunnen verwijderen uit de kelder.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        Als ingelogde gebruiker wil ik wijnflessen kunnen toevoegen aan mijn kelder.
                    </td>
                    <td>Bij een wijnfles zal een knop staan waarmee ik deze entiteit kan toevoegen aan mijn eigen wijnkelder.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <p>Als ingelogde gebruiker wil ik zelf een wijnkelder aan kunnen maken.</p>
                    </td>
                    <td>Een invoerscherm tonen waarmee het aanmaken van een kelder mogelijk is.</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>
                      <p>Als ingelogde gebruiker wil ik informatie van een wijnfles kunnen raadplegen.</p>
                  </td>
                  <td>Informatiescherm openen van de gekozen wijnfles met informatie.</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
