<h1 [title]="selectedBottle?.name"></h1>
<div class="container" *ngIf="selectedBottle">
  <div class="card">
    <h3>
        <a [title]="selectedBottle.name + ' details'" [routerLink]="['/bottle', selectedBottle.id]">
            <img src="{{ selectedBottle.img }}" alt="Wijnfles" width="400" height="400">
        </a>
    </h3>
    <div class="elemtext">
      <div class="bottle-list">
        <h3>
          <a [title]="selectedBottle.id"> Id: {{ selectedBottle.id }} </a>
        </h3>
      </div>
      <div class="bottle-list">
        <h3>
          <a [title]="selectedBottle.winetype">Wijnsoort: {{ selectedBottle.winetype }}</a>
        </h3>
      </div>
      <div class="bottle-list">
        <h3>
          <a [title]="selectedBottle.name"> Naam: {{ selectedBottle.name }} </a>
        </h3>
      </div>
      <div class="bottle-list">
        <h3>
          <a [title]="selectedBottle.name"> Jaar: {{ selectedBottle.year }} </a>
        </h3>
      </div>
      <div class="bottle-list">
        <h3>
          <a [title]="selectedBottle.name"> Land: {{ selectedBottle.country }} </a>
        </h3>
      </div>
      <div class="bottle-list">
        <h3>
          <a [title]="selectedBottle.name"> Prijs: {{ selectedBottle.price }} </a>
        </h3>
      </div>
      <div class="bottle-list">
        <h3>
          <a [title]="selectedBottle.name"> Zelfgemaakt: {{ selectedBottle.selfmade }} </a>
        </h3>
      </div>
      <div class="bottle-list">
        <h3>
          <a [title]="selectedBottle.name"> Wijngaard: {{ selectedBottle.winery.name}} </a>
        </h3>
      </div>
      <div class="bottle-list">
        <h3>
          <a [title]="selectedBottle.name"> Prijs: {{ selectedBottle.price }} </a>
        </h3>
      </div>
    </div>
</div>

</div>
