<div class="container">
    <h1>Wijnflessen</h1>
    <div class="grid" >
        <div class="card" *ngFor="let Winebottle of bottles">
            <h3>
                <a [title]="Winebottle.name + ' details'" [routerLink]="['/bottle', Winebottle.id]">
                    <img src="{{ Winebottle.img }}" alt="Wijnfles" width="200" height="200">
                </a>
            </h3>
            <div class="elemtext">
                <h2>{{ Winebottle.name }}</h2>
                <p>{{ Winebottle.year}}</p>
                <p>{{ Winebottle.price}}</p>
                <a [title]="Winebottle.name + ' details'" [routerLink]="['/bottle', Winebottle.id]">Details</a>
                <div class="input-group">
                    <select class="form-select">
                        <option selected>Kelder</option>
                                <option *ngFor="let cellar of cellars">{{cellar.address}}</option>
                    </select>
                    <button class="btn btn-outline-secondary" type="button">Voeg toe</button>
                </div>
            </div>
        </div>
    </div>
</div>
