<h1 [title]="selectedCellar?.id"></h1>
<div class="container" *ngIf="selectedCellar">
    <div class="Cellar-list">
        <h3><a [title]="selectedCellar.owner.username">
            Eigenaar: {{ selectedCellar.owner.username }}
          </a></h3>
    </div>
    <div class="Cellar-list">
        <h3><a [title]="selectedCellar.address">
            Adres: {{ selectedCellar.address }}
          </a></h3>
    </div>
    <div class="Cellar-list">
        <h3><a [title]="selectedCellar.area">
            Oppervlakte: {{ selectedCellar.area }} m2
          </a></h3>
    </div>
    <div class="Cellar-list" *ngFor="let Bottle of listBottles">
        <h3>
            <a [title]="Bottle.name + ' details'" [routerLink]="['/bottle', Bottle.id]">
                <img src="{{ Bottle.img }}" alt="Wijnfles" width="200" height="200">
            </a>
        </h3>
        <p><a [title]="Bottle.name">
            {{ Bottle.name }}
          </a></p>
    </div>
</div>

